<!DOCTYPE html>
<html>
<head>
    <title>Hostel Leave Panel</title>
</head>
<body>
<form method="POST" action="/approve">
    Roll Number: <input type="text" name="roll" required><br><br>
    Reason: <input type="text" name="reason" required><br><br>
    Days: <input type="number" name="days" required><br><br>
    Start Date: <input type="date" name="start" required><br><br>
    End Date: <input type="date" name="end" required><br><br>
    Principal Phone: <input type="text" name="principal"><br><br>

    <button type="submit" name="action" value="Approved">Approve</button>
    <button type="submit" name="action" value="Rejected">Reject</button>
</form>

</body>
</html>
